@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

html {
    max-width: 100vw;
}

/* Styles for the checked state */
input[type="radio"]:checked+label {
    color: white;
    /* Set the font color to white */
}